<%= form_for(@game_expense) do |f| %>
  <% if @game_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_expense.errors.count, "error") %> prohibited this game_expense from being saved:</h2>

      <ul>
      <% @game_expense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <% if params[:character_id] %>
      <%= f.number_field :character_id, :type =>"hidden", :value => params[:character_id]  %>
    <% else %>
      <%= f.label :character_id %><br />
      <%= f.number_field :character_id %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>