<h1>Listing game_expenses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @game_expenses.each do |game_expense| %>
  <tr>
    <td><%= game_expense.name %></td>
    <td><%= game_expense.price %></td>
    <td><%= game_expense.character_id %></td>
    <td><%= link_to 'Show', game_expense %></td>
    <td><%= link_to 'Edit', edit_game_expense_path(game_expense) %></td>
    <td><%= link_to 'Destroy', game_expense, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game expense', new_game_expense_path %>
