<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game_expense.name %>
</p>

<p>
  <b>Price:</b>
  <%= @game_expense.price %>
</p>

<p>
  <b>User:</b>
  <%= @game_expense.character_id %>
</p>


<%= link_to 'Edit', edit_game_expense_path(@game_expense) %> |
<%= link_to 'Back', game_expenses_path %>
