<%= stylesheet_link_tag "stylesheet.css" %>
<%= form_for(@game_asset) do |f| %><center>
  <% if @game_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_asset.errors.count, "error") %> prohibited this game_asset from being saved:</h2>

      <ul>
      <% @game_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <% if @game_asset.amount.nil?  %>
      <%= f.label :amount %><br />
      <%= f.number_field :amount, :value => "1" %>
    <% else %>
      <%= f.label :amount %><br />
      <%= f.number_field :amount, :minlength => 15, %>
    <% end %>

<script language=javascript>
  function output()
  {
  alert("testing Text events");
  }
</script> 
<input type=text onBlur="output(5+5)">

  </div>

  <div class="field">
    <%= f.label :legality %> <br />
    Public <%= f.radio_button(:legality, "Public") %> <br>
    Restricted <%= f.radio_button(:legality, "Restricted") %> <br>
    Forbidden <%= f.radio_button(:legality, "Forbidden") %> 
  </div>
  <div class="field">
    <%= f.label :equipped %><br />
    <%= f.check_box(:equipped, {}, checked_value = "1", unchecked_value = "0") =%>
  </div>
  <div class="field">
    <% if params[:character_id] %>
      <%= f.number_field :character_id, :type => "hidden", :value => params[:character_id] %>
    <% else %>
    
      <%= f.number_field :character_id , :type => "hidden" %> 
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div><center>
<% end %>
