<%= stylesheet_link_tag "stylesheet.css" %>
<%= form_for(@game_asset) do |f| %>
  <% if @game_asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_asset.errors.count, "error") %> prohibited this game_asset from being saved:</h2>

      <ul>
      <% @game_asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :equipped %><br />
    <%= f.check_box(:equipped, {}, checked_value = "1", unchecked_value = "0") =%>
  </div>
  <div class="field">
    <% if params[:character_id] %>
      <%= f.number_field :character_id, :type => "hidden", :value => params[:character_id] %>
    <% else %>
     <!-- <%= f.label :character_id, :type => "hidden" %><br />
      <%= f.number_field :character_id ,:type => "hidden" %> -->
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
