<h1>Listing game_assets</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @game_assets.each do |asset| %>

  <tr>
    <td><%= asset.name %></td>
    <td><%= asset.price %></td>
    <td><%= asset.character_id %></td>

    <td><%= link_to 'Show', character_game_asset_path(@character, asset) %></td>
    <td><%= link_to 'Edit', edit_character_game_asset_path(@character, asset) %></td>
    <td><%= link_to 'Destroy', character_game_asset_path(@character, asset), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


<br />

<%= link_to 'New Game asset', new_character_game_asset_path %>
