= form_for([@character, @game_expense]) do |f|
  - if @game_expense.errors.any?
    #error_explanation
      %h2
        = pluralize(@game_expense.errors.count, "error")
        prohibited this game_expense from being saved:
      %ul
        - @game_expense.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    %br
    = f.text_field :name

  .field
    = f.label :pay_cycle, "*Yearly Pay Cycle"
    = f.check_box(:pay_cycle, {}, checked_value = "1", unchecked_value = "0")

  .field
    = f.label :price
    %br
    = f.number_field :price

  .field
    = f.hidden_field :character_id, :value => @character.to_param

  .actions
    = f.submit
    * default pay cycle is monthly
