<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @game_expense.name %>
</p>

<p>
  <b>Price:</b>
  <%= @game_expense.price %>
</p>

<%= link_to 'Edit', edit_character_game_expense_path(@character, @game_expense) %> |
<%= link_to 'Back', character_game_expenses_path(@character) %>
