<%= stylesheet_link_tag "stylesheet.css" %>
<% @characters.each do |character| %>
<div tyle="vertical-align: top">
<table width="20%" style="float: left">
  <td> <b><%= character.name %> <FONT COLOR="#000000">P</FONT><%= character.perception %> <FONT COLOR="#000000">S</FONT><%= character.surprise %> <b> </td>

  <tr> <% legality_color = color_for_legality(character.check_legality_status) %> </tr>

  <td style="background-color: <%= legality_color %>; color: black;"></td> 

  <tr><th>Equipped</th></tr>
  <% character.game_assets.each do |c| %>
  <tr>  </tr>
        <% if c.legality == "Public" %>
          <td style="background-color: #00C90D; color:#000000"><%= c.name %></td>
      <% elsif c.legality == "Forbidden" %>
          <td style="background-color: #FF0700; color:#000000"><%= c.name %></td>
      <% else %>
          <td style="background-color: #FFD500; color:#000000"><%= c.name %></td>
      <% end %>
  <% end %>
  
  <% end %>  

</table>
</div>



<div id="menu">
  <%= link_to 'Back', characters_path %>
</div>