<%= stylesheet_link_tag "stylesheet.css" %>
<% @characters.each do |character| %>
<div tyle="vertical-align: top">
<table width="20%" style="float: left">
  <td> <b><%= character.name %> <FONT COLOR="#000000">P</FONT><%= character.perception %> <FONT COLOR="#000000">S</FONT><%= character.surprise %> <b> </td>

  <tr> <% legality_color = color_for_legality(character.check_legality_status) %> </tr>

  <td style="background-color: <%= legality_color %>; color: black;"></td> 

  <tr><th>Equipped</th></tr>
  <% character.game_assets.each do |c| %>
  <tr> <td><%= c.name %></td> </tr>
  <% end %>
  
  <% end %>  

</table>
</div>



<div id="menu">
  <%= link_to 'Back', characters_path %>
</div>