<%= stylesheet_link_tag "stylesheet.css" %>
<% @characters.each do |character| %>
  <div tyle="vertical-align: top">
    <table width="20%" style="float: left">
      <td> <b><%= character.name %> <FONT COLOR="#000000">P</FONT><%= character.perception %> <FONT COLOR="#000000">S</FONT><%= character.surprise %> <b> </td>

      <tr> <% legality_color = color_for_legality(character.check_legality_status) %> </tr>

      <td style="background-color: <%= legality_color %>; color: black;"></td> 

      <tr><th>Equipped</th></tr>
      <tr><% character.game_assets.each do |c| %>
        <% if c.legality == "Public" && c.equipped == true %>
            <td style="background-color: #00C90D; color:#000000"><%= c.name %></td>
        <% elsif c.legality == "Forbidden" && c.equipped == true %>
            <td style="background-color: #FF0700; color:#000000"><%= c.name %></td>
        <% elsif c.equipped == true %>
            <td style="background-color: #FFD500; color:#000000"><%= c.name %></td>
        <% end %></tr>
      <% end %>
<% end %>  
    </table>
  </div>



<div id="menu">
  <%= link_to 'Back', characters_path %>
</div>