<%= stylesheet_link_tag "stylesheet.css" %>
<table class="table1"  width="100%">
    <thead>
    <tr>
      <th colspan="4">
            <img  src="/images/shadowrun-logo.png" alt="shadowrun" height=125 />
          
      </th>
    </tr>
  </thead>
</table>
<table  width="100%">
  <thead>
  <tr>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th width="20%"><b>Name<b></th>
    <th><b>Assets<b></th>
    <th><b>Expenses<b></th>
    <th><b>Legality<b></th>
    <th><b>Buttons<b></th>
  </tr>

  <tr>
    <% @characters.each do |character| %>
    <td width="20%"><%= character.name %></td>
    <td > <%= number_to_currency(character.sum_a, options = {:unit => "짜"})  %>  </td>
    <td > <%= number_to_currency(character.sum_e, options = {:unit => "짜"}) %>  </td>

      <% @color= "N/A" %>
      <% character.game_assets.each do |c| %>
        <% if c.equipped == true %>
        <% if    c.legality == "Forbidden"   %>
           <% @color = c.legality %>
        <% elsif c.legality == "Restricted" && @color != "Forbidden"%>
           <% @color = c.legality %>
        <% elsif  @color != "Forbidden" && @color != "Restricted"  %>
           <% @color = c.legality %>
        <% end %>
        <% else %>
        <% end %>
      <% end %>
          
         <% if   @color == "Forbidden" %>
            <td style="background-color: #FF0700; color:#000000"><%= @color %></td>
        <% elsif @color == "Restricted" %>
            <td style="background-color: #FFD500; color:#000000"><%= @color %></td>
        <% else %>
            <td style="background-color: #00C90D; color:#000000"><%= @color %></td>
        <% end %>

 <td>  
    <%= link_to 'Show', character %>
    <%= link_to 'Edit', edit_character_path(character) %>
    <%= link_to 'Destroy', character, confirm: 'Are you sure?', method: :delete %> 

    </tr>
   <% end %>
</tbody>
<tbody>
  <tr>
      <th colspan="1">Total:</th>
      <td > <b> <%=number_to_currency(GameAsset.total, options = {:unit => "짜"})%> </b></td>
      <td > <b> <%=number_to_currency(GameExpense.total, options = {:unit => "짜"}) %> </b></td>
      <td></td>
      <td></td>
  </tr> 
</tbody>
</table>


  <div id="menu">
    <ul>  
      <li><%= link_to 'Add New Character', new_character_path %></li>
    </ul>
  </div>
     

