<%= stylesheet_link_tag "stylesheet.css" %>
<p id="notice"><%= notice %></p>

	<table width="100%">
		<thead>
				<th><b><%= @character.name %>'s Assets:<br></b></th>
		</thead>
	</table>

	<table  width="100%">
	 <tbody>
		<tr>
			<th>Name</th>
			<th>
			<center>
				<table class="table2">
					<tr>
						<th width="100">Price </th>
						<th width="50" >Amount</th>
						<th width="100">Total </th>
					</tr>
				</table>
			<center>
			</th>
			<th>Street Cost</th>
			<th>legality</th>
			<th>Equipped</th>
			<th>Buttons</th>
			</tr>
		
		  <tr>
			<% @character.game_assets.each do |c| %>
			<td width="20%"><%= c.name %></td>
			<td><right>
			<center>
				<table class="table2">
				<tr>
					<td width="100" ><%= number_to_currency(c.price, options = {:unit => "¥"}) %></td>
				
					<td width="50"><%= c.amount %></td>
					<td width="100" ><%= number_to_currency(c.amount*c.price, options = {:unit => "¥"}) %></td>
				</tr>
				</table>
			</center>
			</right>
			</td>
			<td> <%= number_to_currency(c.price-(c.price*0.2), options = {:unit => "¥"}) %> </td>
			
			<td ><%= c.legality %></td>

			<td >    
				<% if c.equipped %>
			     <img  src="/images/check1.png" alt="check" height=20 />
			 	<% end %>
    	</td>
			<td><%= link_to 'Edit', edit_game_asset_path(c.id) %>
					<%= link_to 'Destroy', game_asset_path(c.id), confirm: 'Are you sure?', method: :delete %>
			</td>
			</tr>
			<% end %>
			<tr>
				<th width="20%">Total:</th>
				<td> <b>
				<center>
				<table class="table2">
					<tr>
						<td width="100"> </td>
						<td width="50" > </td>
						<td width="100"> <b> <%= number_to_currency(@total_a, options = {:unit => "¥"}) %> </b> </td>
					</tr>
				</table> 
				</center>
				</td>
				<td> </td>
				<td> </td>
				<td> </td>
				<td> </td>
			
				</tr>
		</tbody>
	</table>


	<table width="100%">
		<thead>
			<th><b><%= @character.name %>'s Expenses:<br></b></th>
		</thead>
	</table>

	<table width="100%">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Buttons</th>
			</tr>
			<tr>
				<% @character.game_expenses.each do |c| %>
				<td width="20%"><%= c.name %></td>
				<td><%= number_to_currency(c.price, options = {:unit => "¥"}) %></td>
				<td><%= link_to 'Edit', edit_game_expense_path(c.id) %>
						<%= link_to 'Destroy', game_expense_path(c.id), confirm: 'Are you sure?', method: :delete %>
				</td>
			</tr>
				<% end %>
						<tr>
			<th width="20%">Total:</th>
			<td> <b> <%= number_to_currency(@total_e, options = {:unit => "¥"}) %> </b> </td>
			<td> </td>
			</tr>
		</tbody>
	</table>

	<table width="100%">
		<tbody>
			<tr>
				<th>Perception</th>
				<th>Surprise</th>
			</tr>
			<tr>
				<td ><%= @character.perception %></td>
				<td><%= @character.surprise %></td>
			</tr>
						<tr>
			<th><%= link_to 'Edit', edit_character_path(@character.id) %></th>
			<th><%= link_to 'Edit', edit_character_path(@character.id) %></th>
			</tr>
		</tbody>
	</table>

  <div id="menu">
      
      <%= link_to 'Back', characters_path %>
      <%= link_to 'New Game asset', new_game_asset_path(:character_id => @character.id) %>
      <%= link_to 'New Game expense', new_game_expense_path(:character_id => @character.id) %>
 </div>
     
</p>



