<p id="notice"><%= notice %></p>

	<table width="100%">
		<thead>
				<th><b>Character # <%= @character.id %>, <%= @character.name %>'s Assets:<br></b></th>
		</thead>
	</table>

	<table  width="100%">
	 <tbody>
		<tr>
			<th>Name</th>
			<th>Price</th>
			<th>Buttons</th>
			</tr>
		  <tr>
			<% @character.game_assets.each do |c| %>
			<td width="20%"><%= c.name %></td>
			<td><%= number_to_currency(c.price) %></td>

			<td><%= link_to 'Edit', edit_game_asset_path(c.id) %>
					<%= link_to 'Destroy', game_asset_path(c.id), confirm: 'Are you sure?', method: :delete %>
			</td>
			</tr>
			<% end %>
			<tr>
				<th width="20%">Total:</th>
				<td> <b> <%= number_to_currency(@total_a) %> </b> </td>
				<td> </td>
				</tr>
		</tbody>
	</table>


	<table width="100%">
		<thead>
			<th><b> Character # <%= @character.id %>, <%= @character.name %>'s Expenses:<br></b></th>
		</thead>
	</table>

	<table width="100%">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Price</th>
				<th>Buttons</th>
			</tr>
			<tr>
				<% @character.game_expenses.each do |c| %>
				<td width="20%"><%= c.name %></td>
				<td><%= number_to_currency(c.price) %></td>
				<td><%= link_to 'Edit', edit_game_expense_path(c.id) %>
						<%= link_to 'Destroy', game_expense_path(c.id), confirm: 'Are you sure?', method: :delete %>
				</td>
			</tr>
				<% end %>
						<tr>
			<th width="20%">Total:</th>
			<td> <b> <%= number_to_currency(@total_e) %> </b> </td>
			<td> </td>
			</tr>
		</tbody>
	</table>


  <div id="menu">
      
      <%= link_to 'Back', characters_path %>
      <%= link_to 'New Game asset', new_game_asset_path(:character_id => @character.id) %>
      <%= link_to 'New Game expense', new_game_expense_path(:character_id => @character.id) %>
 </div>
     
</p>



