%h2 GM View: #{@game_setting.name}
- @characters.each do |character|
  %table.gm-table
    %thead
      %tr
        %th
          %b= character.name
          %span.attribute P
          = character.perception
          %span.attribute S
          = character.surprise
    %tbody
      %tr
        %td.legality{class: character.check_legality_status}
      %tr
        %th Carrying
      %tr
        - character.game_assets.each do |a|
          - if a.equipped
            %td.legality{class: a.legality}= a.name
