!!!5

%html
  %head
    %title Shadowrun Utility
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "stylesheet"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    = render partial: 'shared/menu'

    :javascript
      $(function() {
        Character.collection.reset(#{Character.all.to_json});
        GameAsset.collection.reset(#{GameAsset.all.to_json});
        GameExpense.collection.reset(#{GameExpense.all.to_json});
        GameSetting.collection.reset(#{GameSetting.all.to_json});
        Commlink.collection.reset(#{Commlink.all.to_json});
      });

    .center-stage
      = yield
