!!!5

%html
  %head
    %title Shadowrun Utility
    = stylesheet_link_tag    "application"
    = stylesheet_link_tag    "stylesheet"
    = javascript_include_tag "application"
    = csrf_meta_tags

    :javascript
      $(function() {
        DataSync.start({
          Character: #{Character.all.to_json},
          GameAsset: #{GameAsset.all.to_json},
          GameExpense: #{GameExpense.all.to_json},
          GameSetting: #{GameSetting.all.to_json},
          Commlink: #{Commlink.all.to_json}
        });

        Backbone.history.start({pushState: true, silent: true});
      });

      $(function() { 
        $('body').append(
          new Application().render().el
        );
      });
  %body
    #workspace
      = render partial: 'shared/menu'

      .center-stage
        = yield
